.amazing-custom {
  width: 100%;
  height: 490px;
  padding: 20px;
  display: flex;

  .amazing-custom__center {
    width: 1645px;
    height: fit-content;
    background-color: #ffffff;
    margin: 0 auto;
    border-radius: 8px;
    border: 1px solid #e0e0e2;
    box-shadow: 0 0px 1px #2b2b2b;

    .amazing-custom__header {
      width: 100%;
      height: 75px;
      display: flex;
      flex-flow: column wrap;
      justify-content: center;
      row-gap: 10px;
      padding-right: 10px;
      .amazing-custom__header__info {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        column-gap: 10px;
        font-family: var(--IranYekan), sans-serif;
        font-size: 16px;
        font-weight: 700;
        line-height: 33.6px;
        color: #0c0c0c;
        img {
          width: 24px;
          height: 24px;
        }
      }
      .line {
        width: 70px;
        height: 2px;
        background-color: #ef394e;
      }
    }
    .swiper {
      width: 100%;
      height: 100%;
    }

    .swiper-slide {
      width: 215px;
      height: 395px;
      text-align: center;
      font-size: 18px;
      background: #fff;
      display: flex;
      flex-flow: column wrap;
      align-items: center;
      justify-content: flex-start;
      row-gap: 10px;
      padding-top: 21px;
      padding-right: 10px;
      border-left: 1px solid #e0e0e2;
      .swiper-slide__item {
        display: flex;
        flex-flow: column wrap;
        row-gap: 15px;
        align-items: center;
        justify-content: center;
        .swiper-slide__item__image {
          width: 145px;
          height: 145px;
        }
      }
      .svg {
        width: 140px;
        height: 15px;
        align-self: start;
        img {
          width: 116px;
          height: 14px;
        }
      }
      .swiper-slider-product {
        display: flex;
        flex-flow: column wrap;
        row-gap: 6px;
        cursor: pointer;

        img {
          width: 150px;
          height: 150px;
          align-self: center;
        }
        h3 {
          height: 52px;
          font-family: var(--IranYekan), sans-serif;
          font-size: 12px;
          font-weight: 700;
          line-height: 26.04px;
          overflow: hidden;
          text-overflow: ellipsis;
          text-align: right;
        }
        .swiper-slider-product_items__svg {
          width: inherit;
          height: 18px;
          font-family: var(--IranYekan), sans-serif;
          font-size: 11px;
          font-weight: 400;
          line-height: 23.87px;
          display: flex;
          flex-flow: row wrap;
          align-items: center;
          column-gap: 3px;
          img {
            width: 18px;
            height: 18px;
          }
          span {
            color: #ef3b50;
          }
        }

        .swiper-slider-product_items {
          display: flex;
          flex-flow: row wrap;
          align-items: center;
          padding-top: 5px;
          .swiper-slider-product_items__discount {
            width: 20%;
            h6 {
              width: 34px;
              height: 20px;
              font-family: var(--IranYekan);
              font-size: 12px;
              padding-top: 3px;
              background-color: #d32f2f;
              border-radius: 16px;
              color: #fff;
            }
          }

          .swiper-slider-product_items__price {
            width: 80%;
            height: 25px;
            display: flex;
            flex-flow: row wrap;
            justify-content: flex-end;
            align-items: flex-end;
            column-gap: 8px;
            padding-left: 8px;
            h5 {
              color: #3f4064;
              font-family: var(--IranYekan), sans-serif;
              font-size: 16px;
              font-weight: bold;
              line-height: 33.6px;
            }
            .toman {
              width: 15.99px;
              height: 15.99px;
            }
          }
        }
        .oldPrice {
          color: #c0c2c5;
          font-family: var(--IranYekan);
          font-size: 12px;
          font-weight: 400;
          text-align: left;
          text-decoration: line-through;
          padding-left: 32px;
          padding-top: 10px;
        }

        .sold {
          width: 200px;
          height: 4px;
          div {
            width: 200px;
            height: 4px;
            background-color: #f0f0f1;
            .sold__out {
              width: 50%;
              height: inherit;
              background-color: #ef394e;
              margin-right: 50%;
            }
            .sold__out2 {
              width: 35%;
              height: inherit;
              background-color: #ef394e;
              margin-right: 65%;
            }
          }
        }
        .count-sold {
          width: 200px;
          height: 4px;
          display: flex;
          flex-flow: row;
          justify-content: space-between;
          align-items: center;
          padding-top: 10px;

          .countDown {
            width: 60%;
            color: #ef394e;
            font-family: var(--IranYekan), sans-serif;
            font-size: 12px;
            font-weight: 700;
            text-align: left;
            padding-left: 5px;
          }
          .sold-percent {
            width: 40%;
            font-family: var(--IranYekan), sans-serif;
            font-size: 11px;
            font-weight: 400;
            span {
              font-size: 10px;
              color: #ef394e;
            }
          }
        }
      }
    }

    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
